body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0E0D2B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*SETTERS*/

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem
}
h6 {
  font-size: 1.8rem;
}
 p{ 
   font-size: 1.4rem;
 }

/*HELPERS*/

.padding-xs {
  padding: .5rem;
}

.padding-s {
  padding: 1rem;
}

.flex {
  display: flex;
  align-items: baseline;
}

.center {
  text-align: center;
  justify-self:center;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.neg-marbottom {
  margin-bottom: -10px;
}

/*Weather Cards */

.displayweather {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
 
}

.icon {
justify-self: center;
height: 50px;
margin: 0 auto;
}

.cardtitle {
  font-size: 1.7rem;
}

table {
  width: 100%;
}

.bigrow {
  width: 63.5%;
}
